.img {
    padding-top: 50px;
}

.avatar {
    padding: 0 168px;
}


.username {
    padding: 28px 195px;
    color: #F0F0F0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.input {
    padding: 20px;
    width: 500px;
    border: 1px solid #646464;
    color: #646464;
    color: #F0F0F0;
    background-color: #222121;
    border-radius: 10px;
    font-size: 15px;
}

.button {
    display: block;
    width: 200px;
    padding: 20px;
    margin: 10px 0 0 150px;
    border: 1px solid #F0F0F0;
    border-radius: 10px;
    color: #F0F0F0;
    background-color: #292929;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.button:disabled {
    color: #808080;
    cursor: auto;
}