.footer {
    max-height: 77px;
    height: 100%;
    line-height: 4.82em;
    background-color: #292929;
    color: #F0F0F0;
    text-align: center;

    a {
        text-decoration: none;
        color: #F0F0F0;
    }
}