* {
    box-sizing: border-box;
    font-family: 'Inter', Regular;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


.content-container {
    position: relative;
    width: 1720px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main {
    min-height: 796px;
    padding: 20px 0;
    background-color: #222121;
    color: #F0F0F0;
    font-weight: 500;
    font-size: 17px;
}